.page-container-anime {
    margin: 2rem 0;
    padding: 2rem, 5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 3.5rem;
}

@media screen and (min-width: 768px) {
    .page-container-anime {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}

.card-item {
    width: 339px;
    height: 480px;
    border-radius: 20px;
    background-color: #222;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 500ms all;
    transition: 500ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    position: relative;
    text-align: left;
}

.card-item:hover ~ .card-item {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}

.card-item__img {
    width: 339px;
    height: 480px;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-item__gradient {
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(0, 0, 0, 0.9)),
        to(rgba(0, 0, 0, 0))
    );
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.card-item__details {
    font-size: 20px;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.card-item:hover .card-item__gradient,
.card-item:hover .card-item__details {
    opacity: 1;
}

.card-item__details span {
    font-size: 0.9rem;
    color: #be99e8;
}

.card-item__details .controls {
    padding-top: 50px;
}

.card-item__details .card-item__details--title,
.card-item__details--score {
    color: #fff;
    margin: 5px 0;
}

.card-item__details--score-icon {
    color: #f5c518 !important;
    margin-right: 5px;
    vertical-align: top;
}
  